<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- Tab 1: Home -->
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- Tab 2: Pinjam -->
    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Pinjam</ion-label>
    </ion-tab-button>

    <!-- Tab 3: Riwayat -->
    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <!-- Tab 4: Buku -->
    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Buku</ion-label>
    </ion-tab-button>

    <!-- Tab 5: Info -->
    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
